.services {
  gap: 16px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @media (max-width: 991px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
