.regular {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 48%);
}

.highlighted {
  backdrop-filter: blur(7.5px);
}
